.chat-room-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .message-ctn {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    ul {
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        margin: 5px;
        align-items: flex-start;

        &.right {
          align-items: flex-end;
        }

        .avatar {
          color: #fff;
        }

        .message {
          padding: 10px;
          background: #fff;
          border-radius: 10px;
        }
      }
    }
  }

  .type-ctn {
    display: flex;
    flex-direction: row;
    width: 100%;

    .text-input {
      width: 100%;
      resize: none;
      height: 50px;
    }

    .text-send {}
  }
}