.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-areas:
    "c1 c2";

  .opration-area {
    grid-area: c1;
    background-color: aquamarine;
    display: flex;
    flex: 1;
    height: inherit;
  }

  .present-area {
    grid-area: c2;
    background-color: #252933;
    display: flex;
    flex: 1;
    height: inherit;
  }

}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1E1E1E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}